<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <h1>Pizzaa</h1>
  <nav>
    <ul>
      <li><a href="/pizzas">the pizza'</a></li>
      <li><a href="/pizzas/new">Order the pizza'</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
